In [1]:
import pandas as pd
data_simulator = pd.read_csv('./Res/simulator_data.csv')
data_simulator

,group,loan_id,gender,age,amount,num_loan,duration,year_ratio,diff_city,marriage,...,y_installment,y_installment_timestep,y_state_cum_overduelength,y_remaining_debt,y_state_capital,y_state_interests,y_state_penalty,installment_done,loan_done,recovery_rate_weighted
0,train,/+6C2lDDYJgzzCXpn96AFA==,1,18,2000,1,6,16,40421.53,0,...,2,1,2,2000.000000,666.666667,53.333333,3.333333,1,0,0.205350
1,train,/+6C2lDDYJgzzCXpn96AFA==,1,18,2000,1,6,16,40421.53,0,...,2,2,7,2000.000000,666.666667,53.333333,11.666667,0,0,0.000000
2,train,/+6C2lDDYJgzzCXpn96AFA==,1,18,2000,1,6,16,40421.53,0,...,2,3,7,2000.000000,666.666667,53.333333,11.666667,0,0,0.000000
3,train,/+6C2lDDYJgzzCXpn96AFA==,1,18,2000,1,6,16,40421.53,0,...,2,4,8,2000.000000,666.666667,53.333333,13.333333,0,0,0.000000
4,train,/+6C2lDDYJgzzCXpn96AFA==,1,18,2000,1,6,16,40421.53,0,...,3,1,0,1666.666667,666.666667,53.333333,0.000000,1,0,0.177079
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200009,test,ZWocy2KIKqJbgKZVoXZIFA==,1,30,2900,1,5,18,0.00,0,...,5,1,2,1740.000000,1740.000000,130.500000,8.700000,1,0,0.000000
200010,test,ZWocy2KIKqJbgKZVoXZIFA==,1,30,2900,1,5,18,0.00,0,...,5,2,-15,1740.000000,1740.000000,130.500000,-37.700000,0,0,0.000000
200011,test,ZWocy2KIKqJbgKZVoXZIFA==,1,30,2900,1,5,18,0.00,0,...,5,3,24,1740.000000,1740.000000,130.500000,78.300000,0,0,0.000000
200012,test,ZWocy2KIKqJbgKZVoXZIFA==,1,30,2900,1,5,18,0.00,0,...,5,4,-1,1740.000000,1740.000000,130.500000,8.700000,0,0,0.000000
200013,test,ZWocy2KIKqJbgKZVoXZIFA==,1,30,2900,1,5,18,0.00,0,...,5,4,-1,1740.000000,1740.000000,130.500000,8.700000,1,1,0.000000

In [5]:
# show dataset names
data_simulator.columns

Index(['group', 'loan_id', 'gender', 'age', 'amount', 'num_loan', 'duration',
       'year_ratio', 'diff_city', 'marriage', 'kids', 'month_in', 'housing',
       'edu', 'motivation', 'installment', 'installment_timestep',
       'state_cum_overduelength', 'remaining_debt', 'state_capital',
       'state_interests', 'state_penalty', 'y_installment',
       'y_installment_timestep', 'y_state_cum_overduelength',
       'y_remaining_debt', 'y_state_capital', 'y_state_interests',
       'y_state_penalty', 'installment_done', 'loan_done',
       'recovery_rate_weighted'],
      dtype='object')

In [6]:
simulator_data_train = data_simulator.loc(data_simulator['group'] == 'train')
simulator_data_train

TypeError: unhashable type: 'Series'